<!doctype html>
<html>
  <head>
    <title>daredevil</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/feed.css">
    <meta charset="utf-8"/>

  </head>
  <body>
    <header>
      <!--Site Name-->
      daredevil
      <!--MyMarist Portal-->
      <div id="portal_button">
        <img id="redfox" src="images/redfox.png"><span>this website is a project for Marist</span>
      </div>
    </header>
    <main>
      recent relavent articles
      <script src = "/js/feed.js"></script>
      <div id="newsfeed">

      </div>

      <div>
        <img id ="img"src="images/blonde dd.jpg">
        <a href="https://marvelcinematicuniverse.fandom.com/wiki/Daredevil">wiki</a>
        <p>This is the daredevil wikipage</p>
      </div>
      <div>
        <img id ="img" src="images/bloodied-smile-of-daredevil-xbapgbzk8eg2g67q.jpg">
        <a href="https://www.charactour.com/hub/characters/view/Matt.Murdock-Daredevil">link</a>
        <p>This is a analysis of matt murdock aka daredevil</p>

      </div>
      <div>
        <img id="img" src="images/live action dd.jpg">
        <a href="https://en.wikipedia.org/wiki/Daredevil_(film)">wikipedia</a>
        <p>this is a wikipedia page on the live action adaptation of daredevil</p>
      </div>
     


    </main>
    <footer>
      <p made by Jeremy Torres</p>
    </footer>

  </body>
</html>
